---
title: "Multi-step Visual Reasoning with Visual Tokens Scaling and Verification"
collection: publications
category: conferences
date: 2025-09-19
venue: 'Conference on Neural Information Processing Systems，NeurIPS'
citation: 'Tianyi Bai, Zengjie Hu, Fupeng Sun, Qiu Jiantao, Yizhen Jiang, Guangxin He, Bohan Zeng, Conghui He, Binhang Yuan, Wentao Zhang.'
---
